body {
    font-size: 10px;
}

/* ======關於我們介紹的部分======= */
.aboutus {
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.aboutus-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutus-title h2 {
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 900;
}

.aboutus-txt {
    margin: 0px 20px;
}

.aboutus-txt h4 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
    /* 阻止文字斷行 */
    white-space: nowrap;
    line-height: 1.5;
    margin-right: 50px;

}

.aboutus-txt p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    /* 阻止文字斷行 */
    white-space: nowrap;
    line-height: 1.5;
    padding: 10px 0;
}


.aboutus-container .aboutus-pic {
    margin: 5px 20px;
}

.aboutus-pic img {
    height: 100%;
    vertical-align: bottom;
}


/* =========服務項目的部分======= */
.service-section {
    width: 100%;
    margin: 100px auto;
    background-color: #FCFCE4;

}

.service-title h2 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
}



.service-container {
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 將子元素水平居中 */
    text-align: center;
    /* 讓内部文字居中對齊 */
}

.service-list {
    display: flex;
    justify-content: center;

}

.service-item {
    width: 240px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-pic {
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.service-pic img {
    width: 100%;
}

.service-txt {
    margin: 20px 0;
}

.service-txt h5 {
    margin: 20px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

.service-txt p {
    margin: 20px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
}

.btn {
    margin: 20px auto;
}

.go-product-btn {
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    color: #F5C173;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
}

.go-product-btn:hover {
    background-color: #F5C173;
    color: #fff;
}

@media screen and (max-width:413px) {
    .service-list {
        display: flex;
        flex-wrap: wrap;
    }

    .service-txt p {
        margin: 10px 0px;
        font-size: 12px;
        letter-spacing: 2px;
    }



}

@media screen and (max-width:592px) {
    .service-txt p {
        font-size: 14px;
    }
}

@media screen and (max-width:721px) {
    .service-list {
        display: flex;
        flex-wrap: wrap;
    }


}

@media screen and (max-width:774px) {

    .aboutus-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboutus-container .aboutus-pic {
        margin: 0 auto;
    }

    .aboutus-txt h4 {
        text-align: center;
        margin: 10px 0;
    }

    .service-txt p {
        margin: 0 auto;
    }
}

@media screen and (max-width:782px) {
    .service-item {
        margin: 20px 0px;
    }

    .service-title h2 {
        padding: 20px 0;
    }

}



@media screen and (min-width:782px) and (max-width: 829px) {
    .aboutus-container .aboutus-pic {
        margin: 0 15px 0 0;
    }

    .aboutus-txt {
        margin: 0px;
    }

    .aboutus-txt p {
        letter-spacing: 2px;
    }
}