body {
    font-size: 10px;
}

/* ======關於我們介紹的部分======= */
.aboutus {
    display: flex;
    flex-direction: column;
}

.aboutus-container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

}

.aboutus-title h2 {
    margin: 50px 0;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 900;
    text-align: center;
}

.aboutus-txt {
    /* margin: 0px 20px; */
}

.aboutus-txt h4 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
    /* 阻止文字斷行 */
    white-space: nowrap;
    line-height: 1.5;


}

.aboutus-txt p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    /* 阻止文字斷行 */
    white-space: nowrap;
    line-height: 1.5;
    padding: 10px 0;
}


.aboutus-container .aboutus-pic {
    /* margin: 5px 20px; */
}

.aboutus-pic img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}


/* =========服務項目的部分======= */
.service-section {
    margin: 100px auto;
    background-color: #FCFCE4;

}

.service-title h2 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
}



.service-container {
    /* width: 100%; */
    margin: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 將子元素水平居中 */
    text-align: center;
    /* 讓内部文字居中對齊 */
}

.service-list {
    display: flex;
    justify-content: center;

}

.service-item {
    width: 240px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-pic {
    height: 100%;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.service-pic img {
    width: 100%;
}

.service-txt {
    margin: 20px 0;
}

.service-txt h5 {
    margin: 20px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

.service-txt p {
    margin: 20px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
}

.btn {
    margin: 20px auto;
}

.go-product-btn {
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    color: #F5C173;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
}

.go-product-btn:hover {
    background-color: #F5C173;
    color: #fff;
}


/* RWD設定 */
@media screen and (min-width:575px) and (max-width: 779px) {
    .aboutus-container {
        width: auto;
        /* display: flex;
        justify-content: space-around; */
    }

    .aboutus-container .aboutus-pic {
        padding-right: 10px;
    }

    .aboutus-txt {
        padding-left: 10px;
    }
}

/ @media screen and (min-width:765px) and (max-width: 992px) {
    .aboutus-container {
        width: auto;
    }

    .aboutus-container .aboutus-pic {
        width: 40%;
    }

    .service-item {
        width: 240px;
        margin: 10px 0px;
    }

    .service-txt h5 {
        margin: 10px 0px;
    }

    .service-txt p {
        margin: 20px 0px;
    }
}