/* banner那塊 */
/* banner文字標題 */
/* banner圖文那一塊 */

body {
    font-size: 10px;
}

.banner-section {
    height: 100%;
    /* 圖片跑上去的地方往下推 */
    padding-top: 50px;
}

/* banner slogan文字 */
.banner-pic {
    height: 40vw;
    width: 100%;
    /* 文字定在圖上，他的父層 */
    position: relative;
    /* border: 1px solid blue; */
}

.banner-title {
    position: absolute;
    top: 10%;
    left: 7%;
    z-index: 3;
    font-family: "Inter";
    font-size: 64px;
    font-weight: 900;
    color: #F5C173;
    letter-spacing: 8px;
    line-height: 1.2;
    /* 會被圖蓋住 */
    /* 讓放在圖片上的文字顯眼一些 */
    text-shadow: 2px 2px 9px #333;
    /* border: 1px solid green; */
}


/* 下面敘述文字才有 */
.banner-words {
    /* border: 1px solid red; */
    /* 文字定在圖上，子層在這，父層banner-pic */
    color: #333;
    position: absolute;
    top: 40%;
    left: 7%;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 5px;
    z-index: 3;
    line-height: 1.5;
    text-shadow: 2px 2px 7px #545454;
}



.banner-pic img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

@media screen and (min-width: 865px) and (max-width: 1200px) {
    .banner-title {
        font-size: 65px;
    }
}

@media screen and (min-width: 799px) and (max-width: 864px) {
    .banner-title {
        font-size: 55px;
    }
}

@media screen and (min-width: 685px) and (max-width: 798px) {
    .banner-title {
        font-size: 45px;
    }
}

@media screen and (min-width: 575px) and (max-width: 684px) {
    .banner-title {
        font-size: 35px;
    }
}

@media screen and (min-width: 456px) and (max-width: 574px) {
    .banner-title {
        font-size: 25px;
    }
}

@media screen and (min-width: 332px) and (max-width: 455px) {
    .banner-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 332px) {
    .banner-title {
        font-size: 0;
    }
}