body {
    font-size: 10px;
}

.photo-wall-title h2 {
    margin: 100px 0 40px 0;
    text-align: center;
}

/* 下面圖片blog部分 */

/* 圖片外框共同設定 */
.photo-first-container,
.second-line-container,
.third-line-container {
    width: 1000px;
    margin: auto;
}

.first-line-list {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    /* border: 1px solid blue; */
}

.first-line-pic {
    width: 300px;
    /* 因為圖片不一樣高，所以設固定寬讓圖片都能對齊 */
    height: 400px;
    /* margin: 30px 0; */
}


.first-line-pic img,
.second-line-pic img,
.third-line-pic img {
    /* 讓寬高去符合父層 */
    width: 100%;
    height: 100%;
}

/* second二自己設定 */
/* 用flex-grow練習 */
.second-line-list,
.third-line-list {
    /* width: 0; */
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin: 30px 0;

}

.pic1 {
    flex: 0 0;
    flex-basis: 250px;
}

.pic2 {
    margin: 0 20px;
    flex-grow: 3;
}

.pic3 {
    flex-grow: 1;
}

/* 第三排圖片自己設定 */

.third-pic1 {
    flex: 0 0;
    flex-basis: 450px;


}

.third-pic2 {
    flex-grow: 1;
    margin: 0 20px;
}

.third-pic4 {
    flex-grow: 3;
}


/* 新增文章區 */
.new-article {
    padding: 100px 0;
}

.article-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
    /* 讓該元素垂直對齊開始處 */
    margin: 60px 0 40px 0;
    /* 給一些底部間距，以防止與下面的卡片過於靠近 */
}


.blog-article-container {
    width: 800px;
    height: 400px;
    /* 讓限定寬度的部分置中 */
    margin: 60px auto;

}

/* 包兩塊區域的外圍，flex橫排 */
.article-info {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #276322;
    padding: 40px 0 30px 0;
}

/* 打文章的部分 */
.new-blog .article-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-upload-container {
    padding-top: 20px;
}

/* 上傳貼文自己畫的外框 */
.article-upload-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #276322;
    width: 350px;
    height: 300px;
}




.article-warning-txt {
    margin: 50px auto;
}

/* 包上傳文字還有上傳按鈕 */
/* 讓按鈕文字置中 */
.article-upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 貼文名稱和input外層 */
.article-direction-name {
    margin: 20px;
}

/* 貼文內容上傳及textarea的外層 */
.article-direction-content {
    margin: 20px;
}

/* 貼文內容 */
.article-content {
    margin-bottom: 20px;
}

/* 上傳文字的按鈕 */
.btn-upload {
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    background-color: #276322;
    /* margin: 20px auto; */
    padding: 10px 15px;
    border-radius: 50px;
}

/* 全部送出按鈕的外層 */
.submit-btn {
    /* 按鈕置中 */
    /* 一個div包button */
    margin: 10px auto;
}

/* 全部資訊送出按鈕 */
.article-finish-btn {
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #276322;
    padding: 10px 30px;
    border-radius: 50px;
}