/* banner那塊 */
.banner-section {
    /* 為了slide設的，裡面預設 */
    position: relative;
    height: 100%;
    /* 圖片跑上去的地方往下推 */
    padding-top: 50px;
}

.banner-pic {
    /* 文字定在圖上，他的父層 */
    position: relative;
}

/* banner文字標題 */
.banner-title {
    padding: 30px 0;
    font-family: "Inter";
    font-size: 70px;
    font-weight: 900;
    color: #F5C173;
    letter-spacing: 8px;
    line-height: 1.2;
    position: absolute;
    top: 100px;
    left: 100px;
    /* 會被圖蓋住 */
    z-index: 3;
}

.banner-pic {
    height: 400px;
}

.banner-pic img {
    width: 100%;
    height: 100%;

}

.photo-wall-title {
    text-align: center;
    margin: 50px 0;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 900;
    color: #F5C173;
}

/* 下面圖片blog部分 */

/* 圖片外框共同設定 */
.photo-first-container,
.second-line-container,
.third-line-container {
    width: 1000px;
    margin: auto;
}

.first-line-list {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    /* border: 1px solid blue; */
}

.first-line-pic {
    width: 300px;
    /* 因為圖片不一樣高，所以設固定寬讓圖片都能對齊 */
    height: 400px;
    /* margin: 30px 0; */
}


.first-line-pic img,
.second-line-pic img,
.third-line-pic img {
    /* 讓寬高去符合父層 */
    width: 100%;
    height: 100%;
}

/* second二自己設定 */
/* 用flex-grow練習 */
.second-line-list,
.third-line-list {
    /* width: 0; */
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin: 30px 0;

}

.pic1 {
    flex: 0 0;
    flex-basis: 250px;
}

.pic2 {
    margin: 0 20px;
    flex-grow: 3;
}

.pic3 {
    flex-grow: 1;
}

/* 第三排圖片自己設定 */

.third-pic1 {
    flex: 0 0;
    flex-basis: 450px;


}

.third-pic2 {
    flex-grow: 1;
    margin: 0 20px;
}

.third-pic4 {
    flex-grow: 3;
}