* {
    font-size: 18px;
}

.main-content {
    width: 70%;
    margin: 0 auto;
}

form {
    border: 1px solid #333;
    margin: 30px 0 60px 0;
}

.checkout-title {
    margin-top: 80px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 900;
}

.cart-word {
    font-size: 18px;
    color: #101010;

}

/* ==========共用排頭設定========= */
.row-header {
    display: flex;
    font-size: 20px;
    padding: 20px 30px;
    background-color: #276322;
    color: #fff;
}

.checkout-container {
    margin-top: 10px;

}



.checkout-list {
    border: 1px solid #333;
}

.checkout-card,
.checkout-card-price {
    border-bottom: 1px solid #333;
}

/* =======邊距30px======== */
.checkout-txt,
.checkout-price-info {
    padding: 0px 30px;
}

.checkout-card {
    width: 100%;
    display: flex;
    /* border-bottom: 1px solid #333; */
}

/*========= 內容撐不開的給固定高========== */
.checkout-card-price {
    height: 150px;
}

.checkout-price-info {
    display: flex;
    flex-direction: row-reverse;

}


.checkout-info {
    display: flex;
    /* 為了讓子層使用flex: 0 0 auto;屬性 */
}

.checkout-pic {
    flex: 0 0 auto;
    /* 不允許 `.checkout-pic` 元素增長，保持固定寬度 */
    /* flex-grow、flex-shrink、flex-basis */
    width: 150px;
    padding: 10px 10px 10px 0;
}

.checkout-pic img {
    width: 100%;
    vertical-align: bottom;

}

.checkout-txt {
    display: flex;
    flex-grow: 1;
    /* 佔據父容器的所有剩餘空間 */
    align-items: center;
    /* padding-right: 40px; */
    /* 添加內邊距，使內容與上方的欄位對齊 */
}

.product-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-info {
    display: flex;
    flex-direction: column;
}


.product-zhname,
.product-enname {
    padding-left: 5px;
}

.product-zhname {
    font-weight: 600;
    letter-spacing: 2px;
}

.product-enname {
    padding-top: 3px;
    font-weight: 300;
}

.number {
    border: 1px solid #333;
    border-radius: 10px;
}

.ckechout-name,
.product-name {
    flex: 0 0 40%;
}

.checkout-num,
.num-outside {
    flex: 0 0 20%;
}

.checkout-del,
.cancel {
    flex: 0 0 20%;
}

.checkout-price-all,
.checkout-price {
    flex: 0 0 20%;
}

.checkout-price-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}


/* ==========價錢中間分隔線======= */
.line {
    border: 1px solid #333;
    width: 40%;
}

.price-all {
    font-size: 22px;
    font-weight: 500;
}

.table-space {
    padding: 30px;
}

/* ======表單輸入欄隔出距離===== */
.input-container {
    margin-bottom: 15px;
}


.checkbox-check {
    text-align: center;
    margin: 15px 0;
}

.submit-btn {
    margin: 0 auto;
    text-align: center;

}

.checkout-btn {
    margin: 30px 0;
    text-align: center;
    color: #276322;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #276322;
}

.checkout-btn:hover {
    text-align: center;
    color: #fff;
    background-color: #276322;
    padding: 10px 30px;
    border-radius: 50px;
}