body {
    font-size: 10px;
    box-sizing: border-box;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Swiper箭頭，找到可用class的變數名稱，設在父層可修改掉 */
.swiper {
    --swiper-navigation-color: #fff;
}

.swiper-pagination-bullet {
    color: #fff;
}

.about-container {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
}

@media screen and (max-width:768px) {
    .about-container {
        width: 90%;
    }
}

.about-list {
    /* width: 75%; */
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-content: center;
    margin: 100px auto;
}

@media screen and (max-width:768px) {
    .about-list {
        width: 100%;
        flex-direction: column;
    }
}

.about-txt {
    flex-basis: 30%;
    /* 文字區域佔 70% */
    padding: 0 20px;
    /* 添加內邊距 */
    /* 讓about-txt p浮起來的父層 */
    /* 如果不設在這，會抓不到高度 */
    position: relative;
}

.about-txt h2 {
    font-size: 36px;
}

.about-txt h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    /* 阻止文字斷行 */
    white-space: nowrap;
    line-height: 1.5;
}

.about-txt .paragraph {
    width: 270px;
    font-size: 14px;
    /* 浮起來，父層是about-container */
    position: absolute;
    top: 200px;
    right: -100px;
    padding: 20px;
    background-color: #fff;
    line-height: 1.5;
}

/* 彈窗設定，注意層級問題 */
/* 確保彈窗背景和包裹層級別足夠高 */

.mfp-bg, .mfp-wrap {
    position: fixed; /* 確保彈窗在固定位置 */
    z-index: 30; /* 確保 z-index 足夠高 */
}

/* 彈窗內容 */
.mfp-content {
    max-width: 80%; /* 控制寬度 */
    max-height: 80vh; /* 控制高度，vh 單位表示視窗高度的百分比 */
    margin: auto;
}

/* 彈窗包裹層 */
.mfp-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* 彈窗圖片 */
.mfp-content img {
    width: 100%;
    height: auto;
    object-fit: contain; /* 保持圖片比例 */
}


/* RWD設定 */

@media screen and (max-width:764px) {
    .about-txt .paragraph {
        width: 80vw;
        top: 0;
        right: 0;
        position: relative;
        padding: 0;
    }

}

@media screen and (min-width:765px) and (max-width: 810px) {
    .about-txt {
        width: 30%;
        padding: 0 20px;
        position: relative;
    }

    .about-txt h4 {
        font-size: 16px;
    }

    .about-txt .paragraph {
        width: 35vw;
        top: 0;
        right: 0;
        position: relative;
        padding: 0;
    }
}

@media screen and (min-width:811px) and (max-width: 940px) {
    .about-txt {
        width: 40%;
        padding: 0 20px;
        position: relative;
    }

    .about-txt .paragraph {
        width: 40vw;
        top: 0;
        right: -20%;
        position: relative;
    }
}

@media screen and (min-width: 941px) and (max-width: 1199px) {
    .about-txt {
        width: 30%;
        padding: 0 20px;
        position: relative;
    }

    .about-txt .paragraph {
        top: 0;
        right: -20;
        position: relative;
    }
}

@media screen and (min-width:1200px) {
    .about-txt .paragraph {
        top: 40%;
    }
}



.about-txt .paragraph p {
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 2px;
}

.about-pic {
    width: 500px;
}

.about-pic img {
    width: 100%;
}

.photoWall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 照片牆的部份 */

.photo-wall-title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 100px 0 40px 0;
    color: #276322;
}

.photogroup {
    width: 800px;
    height: auto;
    margin-bottom: 50px;
    display: grid;
    gap: 10px 10px;
    grid-template-areas:
        "a a b c"
        "d e e f"
        "g h i j"
    ;
}


.item {
    overflow: hidden;
}

.item img {
    opacity: 0.7;
    vertical-align: top;
    scale: 1;
    transition: .5s;
}

.item img:hover {
    opacity: 1;
    scale: 1.1;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;

}

.item5 {
    grid-area: e;
}

.item6 {
    grid-area: f;
}

.item7 {
    grid-area: g;
}

.item8 {
    grid-area: h;
}

.go-to-product {
    margin-bottom: 70px;
}

.go-to-product a {
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #C79A57;
    padding: 10px 30px;
    border-radius: 50px;
}

.go-to-product a:hover {
    background-color: #783e19
}

@media screen and (max-width:375px) {

    .photogroup {
        width: 100%;
        grid-template-areas:
            "a a "
            "c d "
            "e e "
            "e e "
            "b b"
            "b b"
            "f f"
            "g h"
        ;
    }
}

@media screen and (min-width:375px)and (max-width: 575px) {
    .photogroup {
        width: 100%;
        grid-template-areas:
            "a a "
            "c d "
            "e e "
            "e e "
            "b b"
            "b b"
            "f f"
            "g h"
            "i"
        ;
    }
}

@media screen and (min-width:576px) and (max-width: 767px) {
    .photogroup {
        width: 576px;
        height: auto;

    }
}


/* slide的套件，要覆蓋的設定 */
.swiper.mySwiper.mySwiper {
    margin-right: initial;
    width: 70%;
    /* 以視窗放大，超出的遮起來，改圖片不一樣大 */
    height: 45vw;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .swiper.mySwiper.mySwiper {
        height: auto;
        margin-right: initial;
        width: 100%;
        /* 以視窗放大，超出的遮起來，改圖片不一樣大 */
        overflow: hidden;
    }
}

/* 小於768px */
@media screen and (max-width:768px) {
    .about-pic {
        width: 100%;
    }
}