body {
    font-size: 10px;
}

.section {
    padding: 100px auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Swiper箭頭，找到可用class的變數名稱，設在父層可修改掉 */
.swiper {
    --swiper-navigation-color: #fff;
}

.about-container {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
}

@media screen and (max-width:768px) {
    .about-container {
        width: 90%;
    }
}

.about-list {
    width: 75%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-content: center;
    margin: 100px auto;
}

@media screen and (max-width:768px) {
    .about-list {
        width: 100%;
        flex-direction: column;
    }
}

.about-txt {
    flex-basis: 30%;
    /* 文字區域佔 70% */
    padding: 0 20px;
    /* 添加內邊距 */
    /* 讓about-txt p浮起來的父層 */
    /* 如果不設在這，會抓不到高度 */
    position: relative;
}




.about-txt h2 {
    font-size: 36px;
}

.about-txt h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    /* 阻止文字斷行 */
    white-space: nowrap;
    line-height: 1.5;
}

.about-txt .paragraph {
    width: 270px;
    font-size: 14px;
    /* 浮起來，父層是about-container */
    position: absolute;
    top: 200px;
    right: -100px;
    padding: 20px;
    background-color: #fff;
    line-height: 1.5;

}

@media screen and (max-width:768px) {
    .about-txt .paragraph {
        width: 80vw;
        top: 0;
        right: 0;
        position: relative;
    }
}

.about-txt .paragraph p {
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 2px;
}

.about-pic {
    flex-basis: 80%;
}

.about-pic img {
    width: 100%;
}

.photo-wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 照片牆的部份 */

.photo-wall-title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 100px 0 40px 0;
    color: #276322;
}

.photogroup {
    width: 800px;
    height: 1000px;
    margin-bottom: 50px;
    /* border: 3px solid #666; */
    display: grid;
    gap: 10px 10px;


    grid-template-areas:
        "a a b b"
        "c d b b"
        "e e f f"
        "e e g h"
    ;
}

@media screen and (max-width:768px) {
    .photogroup {
        width: 100%;
    }
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    /* 放背景圖 */
    /* ../ 先離開自己的檔案 */
    /* 跑進/pic檔案裡 */
    /* 裡面的圖片/檔案.正確的副檔名 */
    /* background-image: url("../pic/photo-wall-a.png"); */
    grid-area: a;
}

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;

}

.item5 {
    grid-area: e;
}

.item6 {
    grid-area: f;
}

.item7 {
    grid-area: g;
}

.item8 {
    grid-area: h;
}

.go-to-product {
    margin-bottom: 70px;
}

.go-to-product a {
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #276322;
    padding: 10px 30px;
    border-radius: 50px;
}




/* slide的套件，要覆蓋的設定 */
.swiper.mySwiper.mySwiper {
    margin-right: initial;
    width: 70%;
    /* 以視窗放大，超出的遮起來，改圖片不一樣大 */
    height: 45vw;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .swiper.mySwiper.mySwiper {
        height: auto;
        margin-right: initial;
        width: 100%;
        /* 以視窗放大，超出的遮起來，改圖片不一樣大 */
        overflow: hidden;
    }
}

/* 小於768px */
@media screen and (max-width:768px) {
    .about-pic {
        width: 100%;
    }
}