* {
    font-size: 18px;
    font-weight: 300px;
}

.register-container {
    width: 60%;
    margin: 80px auto;
    padding: 30px;
    border: 1px solid #333;
}

.register-title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 900;
}

.register-info {
    width: 100%;
    display: flex;
    justify-content: center;
}


.register-txt,
.register-pic {
    width: 100%;
    margin: 20px;
}

.register-pic {
    height: 300px;
}

.register-pic img {
    height: 100%;
    object-fit: cover;
}

label {
    display: block;
}

input {
    width: 100%;
    margin: 10px 0 20px 0;
}

.register-btn {
    text-align: center;
}

.register-btn-submit {
    margin: 15px 0;
    text-align: center;
    color: #276322;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #276322;
}

.register-btn-submit:hover {
    text-align: center;
    color: #fff;
    background-color: #276322;
    padding: 10px 30px;
    border-radius: 50px;
}