* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", "sans-serif";
    /* padding-top: 100px; */
    font-size: 10px;
}

/* header那塊 */
.logo {
    width: 3%;
    padding: 5px 0;
}

/* ============給每個區塊標題文字先預設========== */
h2 {
    color: #783e19;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 15px 0;
}

.logo img {
    width: 100%;
    vertical-align: middle;
}

.header-section {
    /* 壓縮可能會不見 */
    min-width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 固定導覽列在上方 */
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 80px;
    z-index: 10;
    padding: 0 30px;
    background-color: #fff;
}

/*導航列的連結區塊*/
.nav-selector {
    display: flex;
}

/* 導航列的連結區塊裡的a標籤 */
.nav-selector li {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    color: #101010;
    padding: 15px;
}

.nav-selector li a {
    text-decoration: none;
    color: #101010;
}

/* header-section 中間空格 hb，他的裡面一層才會被選到 */
.header-section .hb {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

}

.header-section .hb span {
    width: 80%;
    height: 2px;
    background-color: #276322;
}