* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 10px;
}

/* header那塊 */
.logo {
    width: 3%;
    padding: 5px 0;
    cursor: pointer;
}

.logo img {
    width: 100%;
    vertical-align: middle;
}

/* ============給每個區塊標題文字先預設========== */
h2 {
    color: #783e19;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 15px 0;
}



.header-section {
    /* 壓縮可能會不見 */
    min-width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 固定導覽列在上方 */
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 80px;
    z-index: 10;
    padding: 0 30px;
    background-color: #fff;
}

/*導航列的連結區塊橫排，裝連結的ul*/
.nav-selector {
    display: flex;

}


/* 導航列的連結區塊裡的a標籤 */
.nav-selector li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #101010;
    font-size: 16px;
    transition: 0.2s ease;
    vertical-align: bottom;
}

.nav-selector li a:hover {
    background-color: #F5C173;
    color: #fff;
}

.nav_hab {
    display: none;
    position: absolute;
    font-size: 40px;
    color: #276322;
    top: 15px;
    right: 30px;
}

/* ==============小於768px時使用============*/
@media screen and (max-width:768px) {
    .nav-selector {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        transform: translateY(100%);
        background-color: #fff;
    }

    .nav_hab {
        display: block;
        font-size: 35px;
    }


    .logo {
        width: 9%;
    }

    /* 設定文字 */
    /* .nav-selector li p {
        color: blue;
    } */
}