* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    /* padding-top: 100px; */
}

/* header那塊 */
.logo {
    width: 3%;
    padding: 5px 0;
}

.logo img {
    width: 100%;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 固定導覽列在上方 */
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 80px;
    z-index: 10;
    padding: 0 30px;
    background-color: #fff;
}

/*導航列的連結區塊*/
.nav-selector {
    display: flex;
}

/* 導航列的連結區塊裡的a標籤 */
.nav-selector a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    color: #101010;
    padding: 15px;
}