/* 修改banner上文字顏色 */
body {
    font-size: 10px;
}

.banner-title {
    font-size: 50px;
    text-shadow: 2px 2px 10px #333;
}

/* 微調描述文字 */
.banner-words {
    /* 文字定在圖上，子層在這，父層banner-pic */
    color: #fff;
    position: absolute;
    top: 25%;
    left: 7%;
    text-shadow: 10px 10px 12px #010101;
}

/* 商品列表 */
.product {
    background-color: #EBE7E0;
}

.product-container {
    /* width: 1000px; */
    margin: 0px auto;
    padding: 50px 0;
}

.product-title {
    margin: 0px auto;
    /* 做下底線 */
    border-bottom: 1px solid #333;
    width: fit-content;
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
    /* 讓該元素垂直對齊開始處 */
    margin-bottom: 20px;
    /* 給一些底部間距，以防止與下面的卡片過於靠近 */
}

.product-list {
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(4, 1fr); */
    width: 1000px;
    margin: 0 auto;
}

.product-card {
    /* width: 200px; */
    margin: 0 auto;
}

.product-info {
    border-bottom: 1px solid #333;
    width: fit-content;
    padding-top: 50px;
}


/* 購物車圖示 */
.nav-cart {
    font-size: 20px;
    color: #333;
}

.product-card-pic img {
    width: 100%;
}

/* 產品名字 */
.product-zhname,
.other-zhname {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 5px 0;
}

.product-enname,
.product-price,
.other-scale,
.other-price {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 5px 0;
}

.product-footer,
.other-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 新手小建議 */
.warning {
    width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

    margin: 50px 40px;
    white-space: nowrap;
}

.warning-content {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 50px 40px;
    line-height: 2;
}

/* footer的部分 */
footer {
    background-color: #276322;
}

.footer-logo {
    width: 50px;
    margin: 30px 40px;

}

.footer-logo img {
    width: 100%;
}

.footer-info {
    padding: 40px 0;
    /* width: 1000px; */
    /* 不要設寬度後容器中水平居中 */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    color: #fff;
}

.footer-aboutus {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.footer-aboutus-title {
    margin: 10px 10px 5px 10px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}


.footer-aboutus-item li {
    font-size: 12px;
    font-weight: 300;
    margin: 10px;
}




.footer-service {
    margin: 0 40px;

}

.footer-service-title {
    margin: 10px 10px 5px 10px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    /* 線跟下面的距離 */
    padding-bottom: 10px;

}

.footer-service-item {
    font-size: 14px;
    color: #fff;
}

.footer-service-item-info {
    display: flex;
    flex-direction: row;

}

.footer-service-item-info a {
    text-decoration: none;
}

.footer-service-item-info p {
    margin: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;

}


.footer-service-item-buy {
    display: flex;

}

.footer-service-item-buy a {
    text-decoration: none;
}


.footer-service-item-buy p {
    margin: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

/* ============RWD設定=========== */

/* 大於等於 1200px 寬度 */
@media screen and (min-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 大於等於 768px 寬度、小於 1000px 寬度时，每行顯示 3 張圖片 */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-list {
        width: 800px;
    }

    .warning {
        width: 800px;
    }
}

/* 大於等於  568px 寬度、小於 768px 寬度时，每行顯示 2 張圖片 */
@media screen and (min-width: 568px) and (max-width: 767px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 小於 568px 寬度时，每行顯示 1 張圖片 */
@media screen and (max-width: 567px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}