body {
    font-size: 10px;
}

/* 微調描述文字 */
.banner-words {
    /* 文字定在圖上，子層在這，父層banner-pic */
    position: absolute;
    top: 30%;
    left: 7%;
}

.recommand-container {
    width: 60%;
    margin: 80px auto;
    padding: 30px;
    border: 1px solid #333;
}

.recommand-title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 900;
}

.recommand-info {
    width: 100%;
    display: flex;
    justify-content: center;
}


.recommand-select,
.recommand-show {
    width: 100%;
    margin: 20px;
}

.recommand-show {
    border: 1px solid #333;
}

label {
    display: block;
    font-size: 1rem;
}

input,
select {
    width: 100%;
    margin: 10px 0 20px 0;
    font-size: 1rem;
}

/*============ 下方送出資料按鈕======== */
.recommand-btn {
    text-align: center;
}

.recommand-btn-submit {
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 15px 0;
    text-align: center;
    color: #276322;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #276322;
}

.recommand-btn-submit:hover {
    text-align: center;
    color: #fff;
    background-color: #276322;
    padding: 10px 30px;
    border-radius: 50px;
}



@media screen and (max-width: 375px) {
    .banner-title {
        display: none;

    }
}

@media screen and (min-width: 375px) and (max-width:575px) {
    .banner-title {
        font-size: 15px;
    }

    .recommand-title {
        font-size: 16px;
    }
}

@media screen and (min-width: 375px) and (max-width:575px) {
    .banner-title {
        font-size: 25px;
    }
}

@media screen and (max-width:768px) {

    .banner-words {
        display: none;
    }

    .recommand-info {
        display: block;
    }

    .recommand-select {
        width: 100%;
        margin: 10px 0;
    }

    .recommand-show {
        width: 100%;
        height: 250px;
        margin: 10px 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .banner-title {
        font-size: 35px;
    }

    .banner-words {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-title {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .banner-title {
        font-size: 45px;
    }
}